.build {
  margin-bottom: 112px;
}

.build__title-wrapper {
  display: flex;
  gap: 29px;
  margin-bottom: 120px;
}

.build__title {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.build__title-span {
  margin-top: 5px;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.build__title-img {
  display: block;
  margin-top: 10px;
}

.build__text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.numbers__list {
  display: flex;
  gap: 125px;
  position: relative;
  margin: -9px 0 0 100px;
}

.number {
  width: 198px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.number__text {
  width: 159px;
  font-weight: 700;
  font-size: 64px;
  line-height: 159px;
  text-align: center;
  color: #343045;
  background: linear-gradient(251.27deg, #c0b7e8 12.87%, #8176af 89.33%);
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(13, 13, 13, 0.32);
}

.number__desc {
  position: relative;
  margin-left: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.number__desc::before {
position: absolute;
content: "";
left: -35.54px;
background-image: url("/Img/vector/arrow_build.png");
width: 33px;
height: 27px;
}

.numbers__waves-line {
  position: absolute;
  content: "";
  bottom: 120px;
  right: -111px;
  z-index: -1;
}
