h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
}
.about__inner-left_img {
    display: block;
    position: relative;
    width: 524px;
    height: 557px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 97px;
}
.intro__vector-7 {
    display: block;
    position: absolute;
    top: 212px;
    max-width: 1449px;
}
.intro__vector-8 {
    display: block;
    position: absolute;
    top: 497px;
    max-width: 1449px;
}
.intro__inner{
    display: flex;
    justify-content: space-between;
    gap: 111px;
    margin-bottom: 97px;
}
.intro__inner-left {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 524px;
}
.intro-arrow_right {
    position: absolute;
    display: block;
    bottom: -26px;
    left: 280px;
}
.intro__inner-right {
    max-width: 652px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 118px;
}
.about_title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 42px;
}
.about__inner-right {
    padding-top: 50px;
    max-width: 630px;
}
.about-link {
    width: 214px;
    margin-top: 28px;
}