@import "../vendor/reset.css";
@import "../vendor/fonts.css";
@import "../pages/index.css";
@import "../blocks/page/page.css";
/* ------------------------------------------------------------------------------- */

@import "../blocks/components/container.css";
@import "../blocks/components/header.css";
@import "../blocks/components/main.css";
@import "../blocks/components/joinform.css";

<<<<<<< HEAD
@import url(../blocks/joinform/joinform.css);

@import url(../blocks/styles/main.css);
@import url(../blocks/styles/container.css);
@import url(../blocks/gallery.css);
@import url(../blocks/slider/slider.css);

=======
.btn {
   padding: 16px 0 17px 0;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
   color: #343045;
   background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
   border-radius: 40px;
   transition: all .3s ease-in-out;
}
.btn:hover {
  color: black;
  box-shadow: 0px 0px 15px 5px #8176af;
}

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
    line-height: 17px;
  }
}
>>>>>>> f90f65ea59dd8037be7d34b2b5806b9c2ec85a63
